{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN #header -->

<!-- END #header -->

<!-- BEGIN #sidebar -->

<!-- END #sidebar -->

<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-9 -->
        <div class="col-5" id="colVal1">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Packages</div>
                        <button type="button" id="registry" class="btn btn-default" style="height: 35px; margin-right: 10px">registry</button>
                    </div>
                    <div class="deploy-scroll">
                    <table id="packageDataTable" class="table-sm-se w-100 text-white text-opacity-100">
                    <thead>
                    <tr>
                        <th style="width: 10%">Display Name</th>
                        <th style="width: 15%">Content Set</th>
                        <th style="width: 30%">Command</th>
                    </tr>
                    </thead>
{#                        <tbody class="fs-12px mb-2">#}
{#                        {% for data in chartData.packageList %}#}
{#                        <tr class="clickP">#}
{#                            <td id="checkRow"><input class="form-check-input" type="checkbox" id="chkRow2" value="{{ data.Name }}"></td>#}
{#                            <td>#}
{#                                {{ data.Display_name }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Content_set }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Command }}#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#                    </tbody>#}
                    </table>
                    </div>
                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>

        <div class="col-2" id="colVal2" style="display: none">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body" style="height: 577px">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Registry mod</div>
                    </div>
                    <br>
                    <br>
                    <form action="{% url 'change_registry' %}" method="post">
                        {% csrf_token %}
                        <div>OS Architecture</div>
                        <select class="form-select selBox" aria-label=".form-select-lg example" name="arch">
                          <option value="" selected disabled hidden>select...</option>
                          <option value="32">32</option>
                          <option value="64">64</option>
                          <option value="Both">Both</option>
                        </select>
                        <br>
                        <div>Registry Key Name</div>
                        <input class="form-control inBox" type="text" name="path" style="width: 265px;" placeholder="HKLM\X-Factor\deploy">
                        <br>
                        <div>Value Name</div>
                        <input class="form-control inBox" type="text" name="name" style="width: 265px;" placeholder="registry">
                        <br>
                        <div>Value Data</div>
                        <input class="form-control inBox" type="text" name="value" style="width: 265px;" placeholder="True">
                        <br>
                        <div>Value Type</div>
                        <select class="form-select selBox" aria-label=".form-select-lg example" name="type">
                          <option value="" selected disabled hidden>select...</option>
                          <option value="REG_SZ">REG_SZ</option>
                          <option value="REG_EXPAND_SZ">REG_EXPAND_SZ</option>
                          <option value="REG_BINARY">REG_BINARY</option>
                          <option value="REG_DWORD">REG_DWORD</option>
                          <option value="REG_QWORD">REG_QWORD</option>
                          <option value="REG_MULTI_SZ">REG_MULTI_SZ</option>
                        </select>
                        <br>
                        <div id="errorDiv">&nbsp</div>
                        <div style="justify-content: center; display: flex">
                            <input type="hidden" id="outputCGValue" name="outputCGValue">
                        <button type="submit" id="create" class="btn btn-default fs-17px" style= "width: 150px; height: 40px; margin-top: 17px;">registry</button>
                        </div>
                    </form>
                    <br>

                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>
        <div id="" class="col-2 card" style="max-height: 577px;">
            <label style="text-align: center; font-size: 25px; margin-top: 10px;">Deploy action</label>
            <br>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <br>
            <form method="post" action="{% url 'deploy_action_val' %}">
                {% csrf_token %}
            <div class="card" id="cb1">
                <label style="color: white">package</label>
                <div class="card-body">
                <div class="mini-deploy-scroll">
                    <div id="outputP"></div>
                </div>
                </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            </div>
            <br>
            <div class="card" id="cb2">
                <label style="color: white">computer group</label>
                <div class="card-body">
                <div class="mini-deploy-scroll">
                    <div id="outputC"></div>
                </div>
                </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            </div>
                <input type="hidden" id="outputPValue" name="outputPValue">
                <input type="hidden" id="outputCValue" name="outputCValue">
                <br>
                <div id="errorMsg" style="color:orange; text-align: center;">&nbsp <br><br></div>
            <div style="display: flex; justify-content: center; margin-top: 20px;">
{#                <button type="submit" class="btn btn-default fs-17px" id="action_btn" style="width: 150px; height: 40px; border-color: orange; color: orange; background-color: transparent;"#}
{#                        onmouseover="this.style.backgroundColor='#ffe6b9';" onmouseout="this.style.backgroundColor='transparent';" value="action">action</button>#}
                <button type="submit" class="btn btn-default fs-17px" id="action_btn" style="width: 150px; height: 40px; margin-top: 15px;"
                        value="action">action</button>
            </div>
            </form>
        </div>

        <div class="col-5" id="colVal2">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Computer Groups</div>
                    </div>
                    <!-- BEGIN title -->
                    <!-- <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo osVersion-moreInfo"><i class="fas fa-ellipsis-h"></i></button> -->
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <!-- END stat-lg -->
                    <div class="deploy-scroll">
                    <table id="computerGroupDataTable" class="table-sm-se w-100 text-white text-opacity-100" >
                    <thead>
                    <tr>
{#                        <th style="width: 2%"> </th>#}
                        <th style="width: 10%">Name</th>
                        <th style="width: 15%">Content Set</th>
                        <th style="width: 30%">Expression</th>
                    </tr>
                    </thead>
{#                    <tbody class="fs-12px mb-2">#}
{#                        {% for data in chartData.groupsList %}#}
{#                        <tr class="clickC">#}
{#                            <td id="checkRow"><input class="form-check-input" type="checkbox" id="chkRow2" value="{{ data.Name }}"></td>#}
{#                            <td>#}
{#                                {{ data.Name }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Content_set }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Expression }}#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#                    </tbody>#}
                    </table>
                    </div>
                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>
        <!-- BEGIN col-3 -->
        <div class="col-12" style="margin-bottom: 200px">
            <div class="card">
            <div class="card-body">

            <div class="d-flex fw-bold fs-12px">
                <div class="flex-grow-1">Action Log</div>
            </div>
            <div class="action-log-scroll">
                <table id="action_log" class="table-sm-se w-100 text-white text-opacity-100" >
                    <tbody>
                    {% for data in chartData.actionLogList %}
                    <tr>
                        <td>{{ data.admin }} 계정이 {{ data.package }} package를 {{ data.computer_group }} group에게 deploy {{ data.comment }}! - {{ data.creation_date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
            </div>
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<style>
.highlight {
    background-color: orange;
}
</style>
{#<script src="/static/assets/js/demo/deploy_table.js">#}
<script>
    var tdValue = ''
    var $clickedRow = ''
    var isClicked = false
    var colVal2OriginalPaddingRight = '';
    var outputCValue = ''
    var errorDiv = document.getElementById("errorDiv");

    document.addEventListener('DOMContentLoaded', function () {
        $("#packageDataTable").on('click', 'tbody tr', function () {
        $clickedRow = $(this);
        isClicked = $clickedRow.hasClass('clicked');
        tdValue = $clickedRow.find('td:eq(0)').text();

        });


    var resultP = document.getElementById('outputP');
    var divElement1 = document.getElementById("colVal1");
    var divElement2 = document.getElementById("colVal2");
    function modifyClass() {

        colVal2OriginalPaddingRight = window.getComputedStyle(divElement2).getPropertyValue("padding-right");

        if (divElement1.classList.contains('col-5')){
            resultP.innerHTML = '';
            divElement1.classList.remove("col-5"); // 기존 클래스 제거
            divElement1.classList.add("col-3");
            divElement1.style.paddingRight = "0";// 새로운 클래스 추가
            divElement2.removeAttribute("style");
            $('#packageDataTable tbody tr').css('background-color', '');
            $('#packageDataTable').off('click', 'tbody tr');

        } else {
            lift_click()
            $('#packageDataTable').on('click', 'tbody tr', function () {
                $clickedRow = $(this);
                isClicked = $clickedRow.hasClass('clicked');
                var tdValue = $clickedRow.find('td:eq(0)').text();
              // 클릭한 행의 상태에 따라 동작을 처리합니다.
                if (isClicked) {
                    // 클릭한 행이 이미 선택된 상태인 경우 선택 해제
                    $clickedRow.removeClass('clicked');
                    resultP.innerHTML = '';
                    $clickedRow.css('background-color', '');
                    $('#packageDataTable tbody tr').css('pointer-events', 'auto');
                    // $('tbody tr').removeClass('disabled');
                } else {
                    // 클릭한 행을 선택 상태로 하이라이트하고 다른 행의 클릭을 비활성화
                    $('#packageDataTable tbody tr').not($clickedRow).css('pointer-events', 'none');
                    // $('tbody tr').not($clickedRow).addClass('disabled');
                    $clickedRow.addClass('clicked');
                    resultP.innerHTML = tdValue + '<br>';
                    $clickedRow.css('background-color', 'orange');
                }
            });
        }
    }

    function lift_click(){
        var divElement1 = document.getElementById("colVal1");
        var divElement2 = document.getElementById("colVal2");
        divElement1.classList.remove("col-3"); // 기존 클래스 제거
        divElement1.classList.add("col-5"); // 새로운 클래스 추가
        divElement2.style.display = "none";
        divElement1.style.paddingRight = colVal2OriginalPaddingRight;
    }

    // 버튼 클릭 시 modifyClass 함수 호출
    document.getElementById("registry").addEventListener("click", function () {
        modifyClass();
        $('#packageDataTable tbody tr').css('pointer-events', 'auto');
    });

    document.getElementById("create").addEventListener("click", function (event) {
        {#var arch = document.getElementById('arch');#}
        {#var path = document.querySelector('input[name="path"]').value;#}
        {#var name = document.querySelector('input[name="name"]').value;#}
        {#var value = document.querySelector('input[name="value"]').value;#}
        {#var type = document.getElementById('type');#}
        {##}
        {#if ( arch === '' || path === '' || name === '' || value === '' || type === '') {#}
        {#    event.preventDefault();#}
        {#    alert('값을 모두 입력해주세요.');#}
        {#} else {#}
        {#    create();#}
        {#}#}


        var inputs = document.querySelectorAll('.inBox, .selBox');
        var hasEmptyValue = false;

        // 각 입력란에 대해 값을 확인
        inputs.forEach(function (inputElement) {
            var inputValue = inputElement.value.trim(); // 입력값 양 끝의 공백 제거

            // 입력값이 비어있는 경우
            if (inputValue === '') {
                // 테두리 색상을 빨간색으로 변경
                inputElement.classList.add("error");
                hasEmptyValue = true;
            } else {
                // 입력값이 있으면 테두리 색상을 원래 상태로 복구
                inputElement.classList.remove("error");
            }
        });

        // 하나라도 빈 곳이 있다면 submit 이벤트 막음
        if (hasEmptyValue) {
            errorDiv.textContent = '값을 모두 입력해주세요.';
            event.preventDefault(); // submit 이벤트 막기
        } else {
            // 모든 입력값이 채워져 있으면 form submit 수행
            errorDiv.textContent = ' ';
            create();
            if (document.getElementById('outputCGValue').value === '') {
            errorDiv.textContent = 'computer group을 선택해주세요.';
            event.preventDefault();
            }
            {#document.getElementById("create").submit();#}
        }
    });

    // input과 select 태그에 input 이벤트 리스너 추가
    var inputs = document.querySelectorAll('.inBox, .selBox');
    inputs.forEach(function (inputElement) {
        inputElement.addEventListener("input", function () {
            // 입력값이 변경될 때마다 테두리 색상을 원래 상태로 복구
            inputElement.classList.remove("error");
        });
    });

    function create(){
        outputCValue = document.getElementById('outputC').textContent;
        document.getElementById('outputCGValue').value = outputCValue;
    }
});
    window.setTimeout('window.location.reload()', 600000);

</script>
{% endblock %}