{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN #header -->

<!-- END #header -->

<!-- BEGIN #sidebar -->

<!-- END #sidebar -->

<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-9 -->
        <div class="col-5" id="colVal1">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Packages</div>
                        <button type="button" id="registry" class="btn btn-default" style="height: 35px; margin-right: 10px">registry</button>
                    </div>
                    <div class="deploy-scroll">
                    <table id="packageDataTable" class="table-sm-se w-100 text-white text-opacity-100">
                    <thead>
                    <tr>
                        <th style="width: 10%">Display Name</th>
                        <th style="width: 15%">Content Set</th>
                        <th style="width: 30%">Command</th>
                    </tr>
                    </thead>
{#                        <tbody class="fs-12px mb-2">#}
{#                        {% for data in chartData.packageList %}#}
{#                        <tr class="clickP">#}
{#                            <td id="checkRow"><input class="form-check-input" type="checkbox" id="chkRow2" value="{{ data.Name }}"></td>#}
{#                            <td>#}
{#                                {{ data.Display_name }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Content_set }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Command }}#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#                    </tbody>#}
                    </table>
                    </div>
                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>

        <div class="col-2" id="colVal2" style="display: none">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body" style="height: 577px">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Registry mod</div>
                    </div>
                    <br>
                    <br>
                    <form action="{% url 'change_registry' %}" method="post">
                        {% csrf_token %}
                        <div>OS Architecture</div>
                        <input class="form-control" type="text" name="os" style="width: 265px; background-color: transparent; justify-content: center; align-items: center;">
                        <br>
                        <div>Registry Key Name</div>
                        <input class="form-control" type="text" name="path" style="width: 265px;">
                        <br>
                        <div>Value Name</div>
                        <input class="form-control" type="text" name="value" style="width: 265px;">
                        <br>
                        <div>Value Data</div>
                        <input class="form-control" type="text" name="data" style="width: 265px;">
                        <br>
                        <div>Value Type</div>
                        <input class="form-control" type="text" name="type" style="width: 265px;">
                        <br><br>
                        <div style="justify-content: center; display: flex">
                            <input type="hidden" id="outputCGValue" name="outputCGValue">
                        <button type="submit" id="create" class="btn btn-default" style= "width: 150px">create</button>
                        </div>
                    </form>
                    <br>

                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>
        <div id="" class="col-2 card" style="max-height: 577px;">
            <label style="text-align: center; font-size: 25px; margin-top: 10px;">Deploy action</label>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <br>
            <form method="post" action="{% url 'deploy_action_val' %}">
                {% csrf_token %}
            <div class="card">
                <label style="color: white">package</label>
                <div class="card-body">
                <div class="mini-deploy-scroll">
                    <div id="outputP"></div>
                </div>
                </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            </div>
            <br>
            <div class="card">
                <label style="color: white">computer group</label>
                <div class="card-body">
                <div class="mini-deploy-scroll">
                    <div id="outputC"></div>
                </div>
                </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            </div>
                <input type="hidden" id="outputPValue" name="outputPValue">
                <input type="hidden" id="outputCValue" name="outputCValue">
            <div style="display: flex; justify-content: center; margin-top: 20px;">
                <button type="submit" class="btn btn-outline-success fs-17px" id="action_btn" style="width: 150px; height: 40px; border-color: orange; color: orange;"
                        onmouseover="this.style.backgroundColor='#ffe6b9';" onmouseout="this.style.backgroundColor=''" value="action">action</button>
            </div>
            </form>
        </div>

        <div class="col-5" id="colVal2">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; font-size: 30px; font-weight: bold">Computer Groups</div>
                    </div>
                    <!-- BEGIN title -->
                    <!-- <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo osVersion-moreInfo"><i class="fas fa-ellipsis-h"></i></button> -->
                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <!-- END stat-lg -->
                    <div class="deploy-scroll">
                    <table id="computerGroupDataTable" class="table-sm-se w-100 text-white text-opacity-100" >
                    <thead>
                    <tr>
{#                        <th style="width: 2%"> </th>#}
                        <th style="width: 10%">Name</th>
                        <th style="width: 15%">Content Set</th>
                        <th style="width: 30%">Expression</th>
                    </tr>
                    </thead>
{#                    <tbody class="fs-12px mb-2">#}
{#                        {% for data in chartData.groupsList %}#}
{#                        <tr class="clickC">#}
{#                            <td id="checkRow"><input class="form-check-input" type="checkbox" id="chkRow2" value="{{ data.Name }}"></td>#}
{#                            <td>#}
{#                                {{ data.Name }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Content_set }}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ data.Expression }}#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#                    </tbody>#}
                    </table>
                    </div>
                    <!-- BEGIN card-arrow -->
                    <!-- END card-arrow -->
                </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>
        <!-- BEGIN col-3 -->
        <div class="col-12" style="margin-bottom: 200px">
            <div class="card">
            <div class="card-body">

            <div class="d-flex fw-bold fs-12px">
                <div class="flex-grow-1">Action Log</div>
            </div>
            <div class="action-log-scroll">
                <table id="action_log" class="table-sm-se w-100 text-white text-opacity-100" >
                    <tbody>
                    {% for data in chartData.actionLogList %}
                    <tr>
                        <td>{{ data.admin }} 계정이 {{ data.package }} package를 {{ data.computer_group }} group에게 deploy {{ data.comment }}! - {{ data.creation_date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
            </div>
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<style>
.highlight {
    background-color: orange;
}
</style>
{#<script src="/static/assets/js/demo/deploy_table.js">#}
<script>
    var tdValue = ''
    var $clickedRow = ''
    var isClicked = ''
    document.addEventListener('DOMContentLoaded', function () {
        $("#packageDataTable").on('click', 'tbody tr', function () {
        $clickedRow = $(this);
        isClicked = $clickedRow.hasClass('clicked');
        tdValue = $clickedRow.find('td:eq(0)').text();

        });


    var resultP = document.getElementById('outputP');
    function modifyClass() {
        var divElement1 = document.getElementById("colVal1");
        var divElement2 = document.getElementById("colVal2");

        colVal2OriginalPaddingRight = window.getComputedStyle(divElement2).getPropertyValue("padding-right");

        if (divElement1.classList.contains('col-5')){
            $("#packageDataTable").off('click', 'tbody tr');
            divElement1.classList.remove("col-5"); // 기존 클래스 제거
            divElement1.classList.add("col-3");
            divElement1.style.paddingRight = "0";// 새로운 클래스 추가
            divElement2.removeAttribute("style");
            $clickedRow.css('background-color', '');
            resultP.innerHTML = resultP.innerHTML.replace(tdValue + '<br>', '');
        } else {
            {#$('#packageDataTable tbody tr').css('pointer-events', 'auto');#}
            divElement1.classList.remove("col-3"); // 기존 클래스 제거
            divElement1.classList.add("col-5"); // 새로운 클래스 추가
            divElement2.style.display = "none";
            divElement1.style.paddingRight = colVal2OriginalPaddingRight;
            modifyClass()
        }

    }

    function create(){
         var outputCValue = document.getElementById('outputC').textContent;
        document.getElementById('outputCGValue').value = outputCValue;
    }
    // 버튼 클릭 시 modifyClass 함수 호출
    document.getElementById("registry").addEventListener("click", modifyClass);
    document.getElementById("create").addEventListener("click", create);
});
    window.setTimeout('window.location.reload()', 600000);

</script>
{% endblock %}