{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN #content -->
<div id="content" class="p-1rem">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN Packages & Computer Groups -->
        <div class="col-xl-6">
            <!-- Packages list table -->
            <div class="col-xl-12" id="colVal1">
                <div class="card mb-3">
                    <div class="card-body h-410px">
                        <div class="d-flex justify-content-between">
                            <div class="fw-bold text-start fs-16px">Packages</div>
                            <ul class="nav nav-tabs2 nav-tabs-v2 px-3" role="tablist">
                                <li class="btn1" role="presentation" id="registryLi">
                                    <span id="registry"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="deploy-scroll">
                            <table id="packageDataTable" class="table table-sm w-100 text-white text-opacity-100 fs-12px">
                                <thead>
                                <tr class="table-light">
                                    <th>Name</th>
                                    <th>Content Set</th>
                                    <th>Command</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
            <!-- Computer Groups list table -->
            <div class="col-xl-12" id="colVal2">
                <div class="card">
                    <div class="card-body h-410px">
                        <div class="d-flex justify-content-between mb-10px">
                            <div class="text-start fs-16px fw-bold">Computer Groups</div>
                        </div>
                        <div class="deploy-scroll">
                            <table id="computerGroupDataTable" class="table table-sm w-100 text-white text-opacity-100 fs-12px" >
                                <thead>
                                <tr class="table-light">
                                    <th>Name</th>
                                    <th>Content Set</th>
                                    <th>Expression</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Packages & Computer Groups -->
        <!-- BEGIN setting & log -->
        <div class="col-xl-6">
            <div class="row">
                <!-- Deploy action -->
                <div class="col-xl-8" id="colVal4">
                    <div class="card">
                        <div class="card-body h-590px">
                            <div class="fw-bold text-start fs-16px mb-4">Deploy Action</div>
                            <form method="post" action="{% url 'deploy_action_val' %}">
                                {% csrf_token %}
                                <div id="cb1" class="mb-3 fs-14px">package<span><i id="deployPCK_resetBtn" class="fas fa-redo fs-10px ms-2 deploy-cursor"></i></span>
                                    <label for="outputP"></label>
                                    <div class="mini-deploy-scroll mt-2 p-3 fs-12px border_style">
                                        <div id="outputP"></div>
                                    </div>
                                </div>
                                <div id="cb2" class="mb-3 fs-14px">computer group<span><i id="deployGRP_resetBtn" class="fas fa-redo fs-10px ms-2 deploy-cursor"></i></span>
                                    <label for="outputC"></label>
                                    <div class="mini-deploy-scroll mt-2 p-3 fs-12px border_style">
                                        <div id="outputC"></div>
                                    </div>
                                </div>
                                <input type="hidden" id="outputPValue" name="outputPValue">
                                <input type="hidden" id="outputCValue" name="outputCValue">
                                <div id="pack"></div>
                                <div id="errorMsg" class="text-warning text-center fs-12px w-100 h-40px fw-bold error_msg">&nbsp <br><br></div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-default fs-14px w-150px h-40px mt-15px" id="action_btn" value="action">action</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>
                <!-- Parameter edit -->
                <div class="col-xl-4 none" id="colVal3">
                    <div class="card">
                        <div class="card-body h-590px">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="fw-bold text-start fs-16px">Enter parameters</div>
                            </div>
                            <form action="{% url 'change_registry' %}" method="post">
                                {% csrf_token %}
                                <div class="parameters-scroll" id="colVal3_param">
                                </div>
                                <input type="hidden" id="outputCGValue" name="outputCGValue">
                            </form>
                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>
                <!-- Deploy status -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body h-590px">
                            <div class="fw-bold text-start fs-16px mb-4">Deploy Status</div>
                            <div class="h-510px bg-white bg-opacity-25">
                                <ul id="as" class="status-list d-flex align-items-center flex-column w-100 h-100px m-0">
<!--                                    <li class="status-item d-flex align-items-center w-100 h-100" >-->
<!--                                        <div class="status-sequence fs-12px fw-bold w-10 text-center">01</div>-->
<!--                                        <div class="status-info w-90 d-flex p-1">-->
<!--                                            <p class="m-0 fs-12px"><strong class="fw-bold">Package Name:</strong> A Package</p>-->
<!--                                            <p class="m-0 fs-12px"><strong class="fw-bold">Action Date:</strong> 2023-08-30 09:00:00</p>-->
<!--                                            <div class="progress fs-10px">-->
<!--                                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 33%">33%</div>-->
<!--                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 23%">23%</div>-->
<!--                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 13%">13%</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action log -->
            <div class="mt-3 actionLog_area">
                <div class="card">
                    <div class="card-body action_body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="fw-bold text-start fs-16px m-0">Action Log</p>
                            <a id="expand_actionLog" href="#"  class="text-inverse text-opacity-50 text-decoration-none"><i class="fa fa-fw fa-expand fs-14px text-white"></i></a>
                        </div>
                        <div class="action-log-scroll">
                            <table id="action_log" class="table table-sm-se w-100 text-white text-opacity-100 fs-12px" >
                                <tbody>
                                {% for data in chartData.actionLogList %}
                                <tr>
                                    <td>{{ data.admin }} 계정이 {{ data.package }} package를 {{ data.computer_group }} group에게 deploy {{ data.comment }}! - {{ data.creation_date }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Action & Status -->
    </div>
    <!-- END row -->
</div>
<!-- END #content -->

<script>
    var a = {{ chartData| safe}};
    var ulElement = document.getElementById('as');

    for (var i = 0; i < a.actionStatusList.length; i++) {
        var item = a.actionStatusList[i];


        var liElement = document.createElement('li');
        liElement.className = "status-item d-flex align-items-center w-100 h-100";


        var width1 = item.action_status[0];
        var width2 = item.action_status[1];
        var width3 = item.action_status[2];
        var innerHTMLString =
            `<div class="status-sequence fs-12px fw-bold w-10 text-center">0${i+1}</div>
            <div class="status-info w-90 d-flex p-1">
                <p class="m-0 fs-12px"><strong class="fw-bold">Package Name:</strong> ${item.packageName}</p>
                <p class="m-0 fs-12px"><strong class="fw-bold">Action Date:</strong> ${item.action_date}</p>
                <div class="progress fs-10px">
                    <div class="progress-bar" style="width: ${width1}">${width1}</div>
                    <div class="progress-bar bg-danger" style="width: ${width2}">${width2}</div>
                </div>
            </div>`;



        innerHTMLString += '</ul>';

        liElement.innerHTML = innerHTMLString;

       ulElement.appendChild(liElement);
};
// action log 확장 아이콘 이벤트 리스너
document.addEventListener("DOMContentLoaded", function() {
    "use strict";
    const expandToggle = document.getElementById("expand_actionLog");
    const actionLogArea = document.querySelector(".actionLog_area");
    const actionLogScrollDiv = actionLogArea.querySelector("div > table#action_log").parentNode;
    const actionLogBody = document.querySelector(".action_body");

    expandToggle.addEventListener("click", function(e) {
        e.preventDefault();
        if (actionLogArea.classList.contains("expanded")) {
            actionLogArea.classList.remove("expanded");
            actionLogScrollDiv.classList.add("action-log-scroll");
            actionLogBody.style.height = '230px';  // card-body 원래 높이 230px 로 다시 설정
        } else {
            actionLogArea.classList.add("expanded");
            actionLogScrollDiv.classList.remove("action-log-scroll");
            actionLogBody.style.height = '100%';  // card-body 확장 높이 100%로 다시 설정
        }
    });
});
</script>
{% endblock %}