{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN #header -->

<!-- END #header -->

<!-- BEGIN #sidebar -->

<!-- END #sidebar -->

<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-3 -->
        <div class="col-xl-12 col-lg-1">
            <!-- BEGIN card -->
            <div class="card mb-5">
                <!-- BEGIN card-body -->
                <div class="card-body h-1000px text-white text-opacity-100"><div style="text-align: center; font-size: 40px; font-weight: bold">SBOM</div>
                    <!-- BEGIN title -->
<!--                    <button type="button" class="btn btn-outline-link btn-sm btn-moreInfo osVersion-moreInfo"><i class="fas fa-ellipsis-h"></i></button>-->

                    <!-- END title -->
                    <!-- BEGIN stat-lg -->
                    <!-- END stat-lg -->
                <!-- END card-body -->
                <table id="sbom_dataTable" class="table-sm-se w-100 text-white text-opacity-100" >
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Packages Name</th>
                        <th>Packages Version</th>
                        <th>Packages CPE</th>
                        <th>Packages Type</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                </table>
                </div>
                            <!-- END #datatable -->
                <!-- BEGIN card-arrow -->
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
                <!-- END card-arrow -->
            </div>
            <!-- END card -->
        </div>

    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<script>
	window.setTimeout('window.location.reload()',600000);
</script>
{% endblock %}

