{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #header -->
<!-- END #header -->
<!-- BEGIN #sidebar -->
<!-- END #sidebar -->
<!-- BEGIN #content -->
<div id="content" class="p-2rem">
    <div class="row justify-content-sm-between">
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">DISK 사용률 초과 서버</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div id="om_disk_chart" class="mt-n4 mb-n4 h-145px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">MEMORY 사용률 초과 서버</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div id="om_mem_chart" class="mt-n4 mb-n4 h-145px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px">
                        <div class="flex-grow-1">OS 설치현황</div>
                    </div>
                    <div class="row align-items-center">
                            <div class="col-12">
                                <div class="mt-3" id="om_os_chart"></div>
                            </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px">
                        <div class="flex-grow-1">유/무선 연결 현황</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="mt-3" id="om_wire_chart"></div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px">
                        <div class="flex-grow-1">물리/가상 자산 현황</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="mt-3" id="om_vp_chart"></div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3 ">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">관리 자산</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div class="h-145px" id="om_m_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pl-2">
            <div class="card mb-3">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">미관리 자산</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div class="h-145px" id="om_um_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">예상 유휴 자산</div>
                        <div class="d-flex fw-bold fs-17px mb-2"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div class="h-145px" id="idle_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3" style="height:440px">
                <div class="card-body">

                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">인증서 관리</div>
                    </div>
                    <table class="table table-report text-nowrap " width="100%" style="border-collapse: separate; border-spacing : 0 10px">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>발급 인증서</th>
                            <th style="text-align:center">만료 일자</th>
                            <th style="text-align:center">개수</th>
                        </tr>
                        </thead>
                        <tbody class="fw-bold fs-12px mb-2">
                        {% for data in dataList.cert_listData %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="ellipsis">
                                <a href="#" class="certificate-link" data-id="{{data.name}}">
                                    {{ data.name }}
                                </a>
                            </td>
                            <td>
                                {{ data.date }}
                            </td>
                            <td>
                                {{ data.count }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pl-2">
            <div class="card mb-3" style="height:440px">

                <div class="card-body">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">최대 CPU 점유 프로세스</div>
                    </div>
                    <table class="table table-report text-nowrap " width="100%" style="border-collapse: separate; border-spacing : 0 10px">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>프로세스 이름</th>
                            <th style="text-align:center">자산 수</th>
                        </tr>
                        </thead>
                        <tbody class="fw-bold fs-12px mb-2">
                        {% for data in dataList.highCpuProc_listData %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td class="ellipsis">
                                <a href="#" class="highCpuProc-link" data-id="{{data.item}}">
                                    {{ data.item }}
                                </a>
                            </td>
                            <td>
                                {{ data.count }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3" style="height:440px;">
                <div class="card-body">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">기간별 자산 리포트</div>
                    </div>
                    <div class="btn-group">
                        <div class="btn-group mb-3">
                            <button type="button" id="btn-daily"
                                    class="mcdBtn btn btn-outline-warning btn-sm active">일간
                            </button>
                            <button type="button" id="btn-weekly" class="mcdBtn btn btn btn-outline-warning btn-sm">
                                주간
                            </button>
                            <button type="button" id="btn-monthly"
                                    class="mcdBtn btn btn btn-outline-warning btn-sm">월간
                            </button>
                        </div>
                    </div>
                    <table id="myTable" class="table table-report text-nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>리포트 이름</th>
                            <th>생성 일자</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in dataList.report_date %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                일간 자산 리포트
                            </td>
                            <td>{{data}}</td>
                            <td>
                                <a href="#" class="report_date" data-id="{{data}}">
                                    <button type="button" class="btn btn-outline-warning report_download" value="print">
                                        미리보기
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<script>
	window.setTimeout('window.location.reload()',600000);
</script>
{% endblock %}

