{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<!-- BEGIN #header -->
<!-- END #header -->
<!-- BEGIN #sidebar -->
<!-- END #sidebar -->
<!-- BEGIN #content -->
<div id="content" class="p-2rem">
    <div class="row justify-content-sm-between">
        <div class="col-xxl-4 col-xl-8 col-lg-12 col-md-12 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px">
                        <div class="flex-grow-1">자산 관리 현황</div>
                    </div>
                    <div id="asset_overview_chart" style="width: 90%; margin: 0 auto;"></div>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="mt-3" id="om_wire_chart"></div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">OS 설치 현황</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div class="mt-2" id="os_donut" style="width: 80%; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">유/무선 연결 현황</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div class="mt-2" id="wire_donut" style="width: 80%; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">물리/가상 자산 현황</div>
                    </div>
                    <div class="row align-items-center">
                            <div class="col-12">
                                <div class="mt-2" id="vp_donut" style="width: 80%; margin: 0 auto;"></div>
                            </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-l-3 pl-2">
            <div class="card mb-3" style="height:550px">
                <div class="card-body">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">최대 MEMORY 점유 프로세스 Top 14</div>
                    </div>
                    <table class="table table-memProc text-nowrap " width="100%" style="border-collapse: separate; border-spacing : 0 10px">
                        <thead>
                        <tr>
                            <th style="width: 20%;">No</th>
                            <th style="width: 50%;">프로세스 이름</th>
                            <th style="text-align:center; width: 30%;">자산 수</th>
                        </tr>
                        </thead>
                        <tbody class="fw-bold fs-12px mb-2" id="table-memProc-body">
                        {% load humanize %}
                        {% for data in dataList.highMemProc_listData %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td class="ellipsis">
                                <a href="#" class="highMemProc-link" data-id="{{data.item}}">
                                    {{ data.item }}
                                </a>
                            </td>
                            <td style="text-align:center;">
                                {{ data.count|intcomma }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex fw-bold fs-12px mb-2 mt-3">
                        <div class="flex-grow-1">MEMORY 사용률 초과 자산</div>
                    </div>
                    <div class="mb-2 fs-5">{{ dataList.memory_donutData }} / {{ dataList.allOnline_donutData|intcomma }} 대</div>
                    <div class="progress h-3px bg-secondary-transparent-2 mb-1">
                        <div id="mem-bar" class="progress-bar bg-white"></div>
                    </div>
                    <div class="fs-11px text-inverse text-opacity-50 mb-2">
                        95% 초과
                    </div>

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-l-3 pl-2">
            <div class="card mb-3" style="height:550px">
                <div class="card-body">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">최대 CPU 점유 프로세스 Top 14</div>
                    </div>
                    <table class="table table-cpuProc text-nowrap " width="100%" style="border-collapse: separate; border-spacing : 0 10px">
                        <thead>
                        <tr>
                            <th style="width: 20%;">No</th>
                            <th style="width: 50%;">프로세스 이름</th>
                            <th style="text-align:center; width: 30%;">자산 수</th>
                        </tr>
                        </thead>
                        <tbody class="fw-bold fs-12px mb-2" id="table-cpuProc-body">
                        {% for data in dataList.highCpuProc_listData %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td class="ellipsis">
                                <a href="#" class="highCpuProc-link" data-id="{{data.item}}">
                                    {{ data.item }}
                                </a>
                            </td>
                            <td style="text-align:center;">
                                {{ data.count|intcomma }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex fw-bold fs-12px mb-2 mt-3">
                        <div class="flex-grow-1">CPU 사용률 초과 자산</div>
                    </div>
                    <div class="mb-2 fs-5">{{ dataList.cpu_donutData }} / {{ dataList.allOnline_donutData|intcomma }} 대</div>
                    <div class="progress h-3px bg-secondary-transparent-2 mb-1">
                        <div id="cpu-bar" class="progress-bar bg-white"></div>
                    </div>
                    <div class="fs-11px text-inverse text-opacity-50 mb-2">
                        95% 초과
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-l-3 pl-2">
            <div class="card mb-3" style="height:550px">
                <div class="card-body">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">최대 DISK 점유 어플리케이션 Top 14</div>
                    </div>
                    <table class="table table-diskApp text-nowrap " width="100%" style="border-collapse: separate; border-spacing : 0 10px">
                        <thead>
                        <tr>
                            <th style="width: 20%;">No</th>
                            <th style="width: 50%;">어플리케이션 이름</th>
                            <th style="text-align:center; width: 30%;">자산 수</th>
                        </tr>
                        </thead>
                        <tbody class="fw-bold fs-12px mb-2" id="table-diskApp-body">
                        {% for data in dataList.highDiskApp_listData %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td class="ellipsis">
                                <a href="#" class="highDiskApp-link" data-id="{{data.item}}">
                                    {{ data.item }}
                                </a>
                            </td>
                            <td style="text-align:center;">
                                {{ data.count|intcomma }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex fw-bold fs-12px mb-3 mt-3">
                        <div class="flex-grow-1">DISK 사용률 초과 자산</div>
                    </div>
                    <div class="mb-2 fs-5">{{ dataList.disk_donutData }} / {{ dataList.allOnline_donutData|intcomma }} 대</div>
                    <div class="progress h-3px bg-secondary-transparent-2 mb-1">
                        <div id="disk-bar" class="progress-bar bg-white"></div>
                    </div>
                    <div class="fs-11px text-inverse text-opacity-50 mb-2">
                        95% 초과
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-l-3 pr-2">
                <div class="card mb-3" style="height:234px;">
                    <div class="card-body">
                        <div class="d-flex fw-bold fs-12px">
                            <div class="flex-grow-1">금일 가장 많이 배포한 패키지 Top 5</div>
                        </div>
                        <div id="today_deploy_chart"></div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
                <div class="card mb-3" style="height:300px;">
                    <div class="card-body">
                        <div class="d-flex fw-bold fs-12px mb-2">
                            <div class="flex-grow-1">일간 자산 리포트</div>
                        </div>
                        <!--                    <div class="btn-group">-->
                        <!--                        <div class="btn-group mb-3">-->
                        <!--                            <button type="button" id="btn-daily"-->
                        <!--                                    class="mcdBtn btn btn-outline-warning btn-sm active">일간-->
                        <!--                            </button>-->
                        <!--                            <button type="button" id="btn-weekly" class="mcdBtn btn btn btn-outline-warning btn-sm">-->
                        <!--                                주간-->
                        <!--                            </button>-->
                        <!--                            <button type="button" id="btn-monthly"-->
                        <!--                                    class="mcdBtn btn btn btn-outline-warning btn-sm">월간-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <div id="report_calendar"></div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
        </div>
        <!--<div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3 ">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">관리 자산</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pl-2">
            <div class="card mb-3">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">미관리 자산</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-l-4 pr-2">
            <div class="card mb-3">
                <div class="card-body h-205px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">자산 관리 현황</div>
                        <div class="d-flex fw-bold fs-17px mb-2"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>-->
    </div>
    <!-- END row -->
</div>
<!-- END #content -->
<script>
$(document).ready(function() {
// 대시보드 하단 리포트 달력
    $('#report_calendar').datepicker({
      format: 'yyyy-mm-dd',
      endDate: new Date(),
    }).on('changeDate', function(e) {
      var date = e.format();
      var width = 1200;
      var height = 900;
      var left = (screen.width - width) / 2;
      var top = (screen.height - height) / 2;
      var options = `width=${width}, height=${height}, left=${left}, top=${top}, scrollbars=yes`;
      window.open("/report_date/?date=" + date, "_blank", options);
    });

// 최대 리소스 점유 프로세스 fade in 효과
    var numRowsToShow = 7;
    var animationSpeed = 3000;
    var pauseOnHover = true;
    var loopCpuProc = setInterval(rotateRowsCpuProc, animationSpeed);
    var allRowsCpuProc = $('#table-cpuProc-body tr').get();
    $(allRowsCpuProc).slice(numRowsToShow).hide();
    var loopMemProc = setInterval(rotateRowsMemProc, animationSpeed);
    var allRowsMemProc = $('#table-memProc-body tr').get();
    $(allRowsMemProc).slice(numRowsToShow).hide();
    var loopDiskApp = setInterval(rotateRowsDiskApp, animationSpeed);
    var allRowsDiskApp = $('#table-diskApp-body tr').get();
    $(allRowsDiskApp).slice(numRowsToShow).hide();
    if (pauseOnHover) {
        $("#table-cpuProc-body").hover(function() {
            clearInterval(loopCpuProc);
        }, function() {
            loopCpuProc = setInterval(rotateRowsCpuProc, animationSpeed);
        });
        $("#table-memProc-body").hover(function() {
            clearInterval(loopMemProc);
        }, function() {
            loopMemProc = setInterval(rotateRowsMemProc, animationSpeed);
        });
        $("#table-diskApp-body").hover(function() {
            clearInterval(loopDiskApp);
        }, function() {
            loopDiskApp = setInterval(rotateRowsDiskApp, animationSpeed);
        });
    }
    function rotateRowsCpuProc() {
        rotateRowsGeneral('#table-cpuProc-body', allRowsCpuProc);
    }
    function rotateRowsMemProc() {
        rotateRowsGeneral('#table-memProc-body', allRowsMemProc);
    }
    function rotateRowsDiskApp() {
        rotateRowsGeneral('#table-diskApp-body', allRowsDiskApp);
    }
    function rotateRowsGeneral(tableBodySelector, allRows) {
        var firstSet = $(tableBodySelector + ' tr:visible');
        var nextSet = firstSet.last().nextAll().slice(0, numRowsToShow);
        if (nextSet.length === 0) {
            nextSet = $(allRows).slice(0, numRowsToShow);
        }
        firstSet.fadeOut('slow', function() {
            nextSet.fadeIn('slow');
            if (nextSet.last().next().length === 0) {
                $(allRows).prependTo(tableBodySelector);
            }
        });
    }

    window.setTimeout('window.location.reload()',600000);

});

</script>
{% endblock %}

