{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<div id="content" class="p-2rem">
    <div class="row justify-content-sm-between">
        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-12 flex-fill">
            <div class="card mb-3" style="height: 258px;">
                <div class="card-body h-220px">
                    <div class="d-flex fw-bold fs-12px mb-2">
                        <div class="flex-grow-1">DISK 사용률 초과 서버</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="h-145px">
                            <div class="col-12">
                                <div id="om_disk_chart" class="mt-n4 mb-n4 h-145px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
	window.setTimeout('window.location.reload()',600000);
</script>
{% endblock %}

