{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <div>
        <p class="fs-24px pt-10px">
            제외 프로세스 목록
        </p>
        <div class="row">
            <div class="col-md-4" style="width:33%; float:left;">
                <form id="addServiceForm">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="serviceInput" placeholder="서비스 이름" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-warning" type="submit">추가</button>
                        </div>
                    </div>
                </form>
            </div>
<!--            <div class="col-md-4" style="width:15%; float:right;">-->
<!--                <form id="">-->
<!--                    <div class="input-group mb-3">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-outline-warning" type="submit">삭제</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </div>
        <!-- END page-header -->

    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <div class="card-body">
                <table id="RunningServiceExceptTable" class="table fs-14px mb-0 text-center text-white text-opacity-60 m-auto " style="display:show;width:100%">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th>index</th>
                            <th>Running Service</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--BEGIN card-body-->
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var data = JSON.parse('{{ data_json|escapejs }}');
        var csrf_token = '{{ csrf_token }}';
        data.forEach(function(item, index) {
            item.index = index + 1;
        });

        var dashboardpopupTable = $('#RunningServiceExceptTable').DataTable({

            data: data,

            columns: [
                { data: "index", title: "Index" },
                { data: "Running Service", title: "Running Service" },
                { data: "index", orderable: false },
            ],

            columnDefs: [
                {
                    targets: 0,
                    width: "20%",
                    className: "text-center text-truncate",
                    render: function (data, type, row) {
                        return '<span title="' + data + '" data-toggle="tooltip">' + data + '</span>';
                    },
                },

                {
                    targets: 1,
                    width: "70%",
                    className: 'text-start text-truncate',
                    render: function (data, type, row) {
                        return '<span title="' + row["Running Service"] + '" data-toggle="tooltip">' + data + '</span>';
                    },
                },
                {
                    targets: 2,
                    width: "10%",
                    className: "text-center",

                    render: function (data, type, row) {
                        return '<button class="btn btn-outline-theme btn-sm delete-btn" data-index="' + row.index + '"><i class="fas fa-trash"></i></button>';
                    }
                },

            ],
            language: {
			"decimal": "",
			"info": "전체 _TOTAL_건",
			"infoEmpty": "데이터가 없습니다.",
			"emptyTable": "데이터가 없습니다.",
			"thousands": ",",
			"lengthMenu": "페이지당 _MENU_ 개씩 보기",
			"loadingRecords": "로딩 중입니다.",
			"processing": "",
			"zeroRecords": "검색 결과 없음",
			"paginate": {
				"first": "처음",
				"last": "끝",
				"next": "다음",
				"previous": "이전"
			},
			"search": "검색:",
			"infoFiltered": "(전체 _MAX_ 건 중 검색결과)",
			"infoPostFix": "",
        },
            pagingType: 'numbers',
        });

        $('#addServiceForm').submit(function(event) {
            event.preventDefault();

            var newService = $('#serviceInput').val();

            $.ajax({
                type: 'POST',
                url: '{% url "running_setting" %}',
                data: {
                    'csrfmiddlewaretoken': csrf_token,
                    'new_service': newService
                },
                dataType: 'json',

                success: function(response) {
                    if (response.success) {
                        var updatedData = response.data;
                        dashboardpopupTable.clear().rows.add(updatedData).draw();
                    } else {
                        console.log("데이터 업데이트 실패");
                    }
                },
                error: function(xhr, status, error) {
                    console.error("오류 발생:", error);
                }
            });

            $('#serviceInput').val('');
        });

        $('#RunningServiceExceptTable tbody').on('click', '.delete-btn', function () {
            var rowIndex = $(this).data('index');
            var self = this;

            $.ajax({
                type: 'POST',
                url: '{% url "delete_running_service" %}',
                data: {
                    'csrfmiddlewaretoken': csrf_token,
                    'running_service_index': rowIndex
                },
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        dashboardpopupTable.row($(self).parents('tr')).remove().draw();
                    } else {
                        console.log("데이터 삭제 실패");
                    }
                },
                error: function(xhr, status, error) {
                    console.error("오류 발생:", error);
                }
            });
        });
    });
</script>
{% endblock %}