{% extends 'common/base.html' %}
{% block content %}
{% load static %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content" class="app-content">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="font-weight-bold">알람 수신/발신 메일</h4>
                    <div>
                        <span>Email : </span>
                        <span>
                            <input type="email" id="email" name="email" placeholder="보내는 이메일을 입력하세요">
                        </span>
                    </div>
                    <div>
                        <span>Email : </span>
                        <span>
                            <input type="password" id="pw" name="pw" placeholder="비밀번호">
                        </span>
                    </div>


                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}