{% extends 'common/base.html' %}
{% block content %}
{% load static %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content" class="app-content">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="font-weight-bold">알람 수신/발신 메일</h4>
                    <form method="post">
                        {% csrf_token %}
                    <div class="form-group mt-4">
                        <label for="email" class="form-label">Source Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="보내는 이메일을 입력하세요" readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label for="pw" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호" readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                    <hr class="mt-4 mb-3">
                    <div class="form-group mt-3">
                        <label for="pw" class="form-label">Destination Email</label>
                        <input type="email" class="form-control" id="to_email1" name="to_email1" placeholder="받는 이메일을 입력하세요" readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                    <div class="form-group mt-3">
                        <label for="pw" class="form-label">Destination Email</label>
                        <input type="email" class="form-control" id="to_email2" name="to_email2" placeholder="받는 이메일을 입력하세요" readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                    <div class="form-group mt-3">
                        <label for="pw" class="form-label">Destination Email</label>
                        <input type="email" class="form-control" id="to_email3" name="to_email3" placeholder="받는 이메일을 입력하세요" readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                    <div class="mt-3 d-flex justify-content-center">
                        <button class="mcdBtn btn btn-primary btn-lg" type="submit">저장</button>
                    </div>
                    </form>
                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">

                </div>
                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}