{% load static %}

<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        {% if menuList %}
        <div class="menu">
            <div class="menu-header"></div>
            {% for menu in menuList %}
            {% if menu.menuUse == '1' %}
            {% if menu.menuName == "Dashboard" or menu.menuName == "IT OM" or menu.menuName == "Setting" or menu.menuName == "Deploy" or menu.menuName == "SBOM" or menu.menuName == "Setting"%}
            {% if request.get_full_path|cut:'/' == menu.menuUrl %}
            <div class="menu-item active h-45px d-flex align-items-center fs-16px">
                {% else %}
                <div class="menu-item h-45px d-flex align-items-center fs-16px">
                    {% endif %}

                    <a href="../{{menu.menuUrl}}" class="menu-link">
                        {% if menu.menuName == "IT OM" %}
                        <span class="menu-icon"><i class="bi bi-person-video3 fs-18px"></i></span>
                        {% endif %}
                        {% if menu.menuName == "Dashboard" %}
                        <span class="menu-icon"><i class="bi bi-columns-gap fs-18px"></i></span>
                        {% elif menu.menuName == "Registry" %}
                        <span class="menu-icon"><i class="bi bi-cpu fs-18px"></i></span>
                        {% elif menu.menuName == "Deploy" %}
                        <span class="menu-icon"><i class="bi bi-diagram-3 fs-18px"></i></span>
                        {% elif menu.menuName == "SBOM" %}
                        <span class="menu-icon"><i class="bi bi-shield-shaded fs-18px"></i></span>
                        {% elif menu.menuName == "Setting" %}
                        <span class="menu-icon"><i class="bi bi-gear fs-18px"></i></span>
                        {% else %}
                        {% endif %}
                        <span class="menu-text">{{ menu.menuName }}</span>
                    </a>
                </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- END menu -->
<!--                {% if Customer == 'Xfactor'%}-->
<!--                <div class="p-3 px-4 mt-auto">-->
<!--                    <a href="../documentation_ug" class="btn d-block btn-outline-theme">-->
<!--                        <i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Documentation-->
<!--                    </a>-->
<!--                </div>-->
<!--                {% else %}-->
<!--                {% endif %}-->
            </div>
            {% endif %}
            <!-- END scrollbar -->
        </div>
        <!-- BEGIN mobile-sidebar-backdrop -->
        <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
        <!-- END mobile-sidebar-backdrop -->
