{% extends 'om/base.html' %}
{% block content %}
{% load static %}
<!-- your_template.html -->
{% csrf_token %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>

<!-- BEGIN #content -->
<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <form method="post">
        {% csrf_token %}
        <p class="fs-24px pt-15px">
            알람케이스별 감지 자산 수 (전체)
        </p>
    </form>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto" >
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="alarmCaseDashboard-popupTable" class="table fs-14px mb-0 text-center text-white text-opacity-60 m-auto">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center">번호</th>
                            <th class="text-center">IP</th>
                            <th class="text-center">컴퓨터 이름</th>
                            <th class="text-center">메모리 95% 초과(%)</th>
                            <th class="text-center">CPU 95% 초과(%)</th>
                            <th class="text-center">디스크 99% 초과(%)</th>
                            <th class="text-center">30분 이내 오프라인</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>


<script>
function sendAction(element, ip, name, ram ,cpu, drive, date, os) {
    if (element.value === "mail") {
        if (confirm('이메일을 전송하시겠습니까?')) {
            const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                $.ajax({
                    type: "POST",
                    url: "{% url 'send_email' %}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        "ip" : ip,
                        "name" : name,
                        "ram" : ram,
                        "cpu" : cpu,
                        "drive" : drive,
                        "date" : date,
                    },

                    success: function (response) {
                        if (response.status === 'success') {
                            alert('이메일이 성공적으로 전송되었습니다.');
                        } else {
                            alert('이메일 전송에 실패했습니다.');
                        }
                    }
                });
            };
        } else if (element.value === "reboot"){
            if (confirm("정말로 종료하시겠습니까?")){
                const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                    $.ajax({
                        type: "POST",
                        url: "{% url 'send_reboot' %}",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            "ip" : ip,
                            "name" : name,
                            "ram" : ram,
                            "cpu" : cpu,
                            "drive" : drive,
                            "date" : date,
                        },
                        success: function(response) {
                            if (response.status === 'success') {
                                alert('리부트를 시작하겠습니다.');
                            } else {
                                alert('요청에 실패했습니다.');
                            }
                        }
                    });
                };
            } else if (element.value === "off_process"){

            var IM = prompt("종료할 프로세스를 입력해주세요")
                if (IM){
                const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                    $.ajax({
                        type: "POST",
                        url: "{% url 'send_off_process' %}",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            "ip" : ip,
                            "name" : name,
                            "ram" : ram,
                            "cpu" : cpu,
                            "drive" : drive,
                            "date" : date,
                            "IM" : IM,
                            "value" : element.value,
                            "os" : os,




                        },

                        success: function(response) {
                            if (response.status === 'success') {
                                alert('프로세스를 종료하겠습니다.');
                            } else {
                                alert('요청에 실패했습니다.');
                            }
                        }
                    });
                };
            };
        };

</script>
{% endblock %}
